* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ct {
    width: 380px;
    height: 510px;
    border: 1px solid black;
    margin: auto;
    margin-block: 15px;
}

.ft {
    width: 150px;
    height: 180px;
    border: 1px solid black;
    padding: 10px;
}

.ctt {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid black;
}

p {
    border-bottom: 1px solid black;
    padding: 5px;
    margin: 0px;
}

.prim {
    margin-bottom: 40px;
}

.seg {
    margin-top: 20px;
}

.cx {
   border: 1px solid black;
   width: 70px;
   height: 80px;
   display: inline-block;
   margin-right: -20px;
}

.cx2 {
   border: 2px solid black;
   width: 70px;
   height: 80px;
   display: inline-block;
}

.cx3 {
   border: 2px solid black;
   width: 70px;
   height: 80px;
   display: inline-block;
}

.Rod {
    border: 1px solid black;
    display: block;
    wipx;
    margin-inline: 0px;
    
}    

.rr {
    margin: 0px;
    padding: 0px;

}

.cctv {
    margin: 0px;
}